@font-face {
	font-family: 'Quango';
	src: url('Quango.otf');
}

*{
	font-family: Quango, Garamond-Normal;
	background-color: black;
	color: white;
}
ol{
	margin-top:50px;
	border: 5px;
	border-color: white;
}

header {
	background-color: black
}	

span {
	font-size:80px;
}

#SignIn_Corner {
	float: right;
}
header img {
	height: 120px;
	width: 120px;
	float: left;
}

